.DS_Store
*/.DS_Store
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.pyc
.idea/
Pics/

weights/

# ignore uv environments rely
uv.lock
Result/
# ignore local docs
docs/
GUI/
Results/
